html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  /* CSS HEX */
  --red-cmyk: #da281eff;
  --paynes-gray: #486076ff;
  --battleship-gray: #93908fff;
  --white: rgb(240, 235, 233);
  --licorice: #211212ff;
  --flame: #ca623eff;

  /* CSS HSL */
  --red-cmyk: hsla(3, 76%, 49%, 1);
  --paynes-gray: hsla(209, 24%, 37%, 1);
  --battleship-gray: hsla(15, 2%, 57%, 1);
  --licorice: hsla(0, 29%, 10%, 1);
  --flame: hsla(15, 57%, 52%, 1);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
