nav {
  position: fixed;
  top: 60px;
  width: 200px;
  min-height: 100%;
  transform: translate(0);
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  z-index: 101;
  background-color: var(--battleship-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.open {
  display: flex;
}

.hide {
  display: none;
}
/* .dashboard-nav {
  display: flex;
} */

nav .menu {
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  width: 100%;
  height: 100%;
}

.nav-link-container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  width: 170px;
  padding: 5px 10px;
  font-weight: 500;
}

.nav-link i {
  margin-right: 15px;
}
.nav-link.active {
  background-color: var(--white);
  color: var(--licorice);
  border-radius: 5px;
}

.status {
  display: flex;
  flex-direction: column;
  min-height: 150px;
}

.status p {
  margin: 0;
}

.status .nav-link-container {
  height: auto;
}

.status button {
  padding-left: 0px;
}
